{% extends "base.html" %}
{% block title %}My Profile{% endblock %}

{% block content %}
<h1>My Profile</h1>

{% if not edit_mode %}
  <div class="profile-view">
    <p><strong>Phone:</strong> {{ profile.phone|default:"-" }}</p>
    <p><strong>Address 1:</strong> {{ profile.address1|default:"-" }}</p>
    <p><strong>Address 2:</strong> {{ profile.address2|default:"-" }}</p>
    <p><strong>City:</strong> {{ profile.city|default:"-" }}</p>
    <p><strong>Province:</strong> {{ profile.province|default:"-" }}</p>
    <p><strong>Postal code:</strong> {{ profile.postal_code|default:"-" }}</p>
    <p><strong>Country:</strong> {{ profile.country|default:"-" }}</p>

    <a href="{% url 'address_edit' %}?next={{ request.path }}">Edit</a>

  </div>

{% else %}
  <form method="post" class="profile-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
    <a class="btn" href="{% url 'account_profile' %}">Cancel</a>
  </form>
{% endif %}
{% endblock %}
